body {
    font-family: 'Segoe UI', sans-serif;
    background: #e0fafa;
    margin: 50px;
}

.heading {
    text-align: center;
}

.chat {
    background-color: rgb(133, 197, 183);
    max-width: 600px;
    height: 60px;
    padding: 7px;
    border-radius: 30px;
    border: 2px solid #000000;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
}

#box {
    width: calc(100% - 100px);
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    border: 1px solid #000000;
    font-size: 16px;
}

#button {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #000000;
}

#button:hover {
    background-color: #56be5b;
}

.answer {
    border: 2px solid #000000;
    padding: 20px;
    height: 500px;
    border-radius: 30px;
    max-width: 1000px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}